.main-section {
    background-color: #F25A70;
    padding-top: 50px;
    padding-bottom:100px;
    border-bottom: 10px solid #7C5E99;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-list {
    background-color: #000;
    border-bottom: 10px solid #F25A70;
}

.main-section.-project {
    background-color: #7C5E99;
    border-bottom: 10px solid #000;
}

.main-section.-footer {
    padding-bottom: 0px;
    background-color: #3A4042;
    border-bottom: none;
}