h1 {
    color: #FFF;
    font-size: 40px;
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 5px 5px 0px #000;
}

h2 {
    color: #F25A70;
    font-size: 40px;
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 4px 4px 0px #000;
}
